
.div1{
    background-color: blueviolet;
    width: 400px;
    height: 50px;
}
.div2{
    background-color: rgb(87, 82, 82);
    width: 200px;
    height: 150px;
}
.div3{margin-top: 5px;
    background-color: rgb(233, 39, 71);
    width: 200px;
    height: 40px;
}
.div4{
    background-color: rgb(24, 82, 16);
    width: 180px;
    height: 200px;
}
.parent{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.parent2{
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.parent3{
    display: flex;
    flex-direction: column;
    gap: 10px;

}